<footer class="border-top text-center small text-muted py-3">
  <div class="container">
    <h5 class="mb-3">Plant Care Rule of Thumbs</h5>
    <ol class="text-left d-inline-block text-start">
      <li>Plants prefer medium to bright light over low light, even if they're tolerant of low light.</li>
      <li>Plants should be fertilized in the spring.</li>
      <li>Plants should generally be watered when the first inch or two is dry. Plants should be watered in the morning. Well-draining soil is key to success with many plants.</li>
      <li>Most plants cannot tolerate temperatures below 60 degrees. Most plants don't like drafts from AC, heating, etc.</li>
      <li>If you're having problems with the leaves, visit <a href="https://rb.gy/akk9mz" target="_blank" class="text-muted">Leaf Problem Guide</a> to pinpoint the issue.</li>
      <li>For more information, visit <a href="https://garden.org/plants/" target="_blank" class="text-muted">Plants database</a></li>
    </ol>
  </div>
</footer>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>
<script src="/main-bundled.js"></script>
</body>
</html>